<div class="row">
  <div class="col-xl-12">
    <div class="table-responsive">
      <nz-table #editRowTable [nzData]="users" nzBordered nzTableLayout="fixed" nzFrontPagination="false">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Time Create</th>
          </tr>
        </thead>
        <tbody>
          @for (data of editRowTable.data; track data) {
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>
              {{ data.email }}
            </td>
            <td>
              @if (data.address != null) {
              {{ data.address }}
              }@else {
              N/A
              }
            </td>
            <td>
              @if (data.phone != null) {
              {{ data.phone }}
              }@else {
              N/A
              }
            </td>
            <td>{{ data.createdAt }}</td>
          </tr>
          }
        </tbody>

      </nz-table>
    </div>
    <div class="pagination">
      <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [(nzPageIndex)]="pageable.page"
        [nzTotal]="pageable.totalElements" [nzSize]="nzSize" nzShowSizeChanger [nzPageSize]="pageable.size"
        [nzPageSizeOptions]="pageSizeOption" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
    </div>
  </div>
</div>
