.pagination{
  margin: auto !important;
  text-align: center !important;
}

.wrap-icon {
  font-size: large;
  color: rgb(24, 144, 255) !important;
  cursor: pointer;
}

.ant-message {
  z-index: 100000 !important;
}

.ant-message-notice {
  z-index: 100000 !important;
}
