<div class="row">
  <div class="col-xl-12">
      <div class="table-responsive">
        <nz-table #editRowTable nzBordered nzTableLayout="fixed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Time Stamp</th>
              <th>Time Create</th>
              <th>Time Update</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (data of editRowTable.data; track data) {
              <tr>
                  <td>{{ data.name }}</td>
                  <td>{{ data.age }}</td>
                  <td>{{ data.address }}</td>
                  <!-- <td><a (click)="startEdit(data.id)">Edit</a></td>
                  <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" /></td>
                  <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.age" /></td>
                  <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" /></td>
                  <td>
                    <a (click)="saveEdit(data.id)" class="save">Save</a>
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                  </td> -->
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
  </div>
</div>
