<div class="row">
  <div class="col-xl-12">
    <div>
      <button style="margin-bottom: 25px;" nz-button nzType="primary" [nzSize]="size" (click)="openCreate()">
        Tạo mới sản phẩm
      </button>
    </div>
    <div class="table-responsive">
      <nz-table #editRowTable [nzData]="products" nzBordered nzTableLayout="fixed" nzFrontPagination="false">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Time Stamp</th>
            <th>Time Create</th>
            <th>Time Update</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (data of editRowTable.data; track data) {
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.category }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.timeStamp }}</td>
            <td>{{ data.createdAt }}</td>
            <td>{{ data.updatedAt }}</td>
            <td class="wrap-icon">
              <span class="edit-product" nz-icon nzType="edit" nzTheme="outline" (click)="openEdit(data)"></span>
            </td>
          </tr>
          }
        </tbody>

      </nz-table>

    </div>
    <div class="pagination">
      <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [(nzPageIndex)]="pageable.page"
        [nzTotal]="pageable.totalElements" [nzSize]="nzSize" nzShowSizeChanger [nzPageSize]="pageable.size"
        [nzPageSizeOptions]="pageSizeOption" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
    </div>
  </div>
</div>
<app-edit-product [isEdit]="isEdit" [product]="productDetail" [visible]="isVisible" [title]="titlePopup"
  (onClose)="onClose()"
  (onSubmit)="onSubmit($event)">
</app-edit-product>
