<div class="row">
  <!-- order-card start -->
  @for (card of cards; track card) {
    <div class="col-md-6 col-xl-3">
      <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
        <h6 class="text-white">{{ card.title }}</h6>
        <h2 class="text-end text-white">
          <i class="feather {{ card.icon }} float-start"></i>
          <span>{{ card.number }}</span>
        </h2>
      </app-card>
    </div>
  }
  <!-- order-card end -->

  <!-- account-section start -->

</div>
