<div class="row">
  <div class="col-xl-12">
    <div class="head-search">
      <div class="search">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Nhập order ID" [(ngModel)]="orderId"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button (click)="onSearchOrder()" nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
        </ng-template>
      </div>
      <div class="status">
        <input class="checkbox" type="checkbox" (click)="onSearchStatus('pending')"/>
        <span style="color: rgb(24, 144, 255);">Pending</span>
      </div>
      <div class="status">
        <input class="checkbox" type="checkbox" (click)="onSearchStatus('shipping')"/>
        <span style="color: darkorange">Shipping</span>
      </div>
      <div class="status">
        <input class="checkbox" type="checkbox" (click)="onSearchStatus('delivered')"/>
        <span style="color: forestgreen">Delivered</span>
      </div>
      <div class="status">
        <input class="checkbox" type="checkbox" (click)="onSearchStatus('canceled')"/>
        <span style="color: red">Canceled</span>
      </div>
    </div>
    <div class="table-responsive">
      <nz-table #editRowTable [nzData]="orders" nzBordered nzTableLayout="fixed" nzFrontPagination="false">
        <thead>
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Total Price</th>
            <th>Order Date</th>
            <th>Time Update</th>
            <th>Payment</th>
            <th>Status</th>
            <th>Update</th>
            <th>Cancel</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (data of editRowTable.data; track data) {
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.User.name }}</td>
            <td>{{ data.total_price }}</td>
            <td>{{ data.order_date }}</td>
            <td>{{ data.updatedAt }}</td>
            <td>{{ data.payment_method }}</td>
            <td [class]="data.status">{{ data.status }}</td>

            @if(data.status != 'cancelled' && data.status !='delivered' ){
              <td class="wrap-icon">
                <span (click)="onAction(data.status, data.id)" class="edit-product" nz-icon nzType="edit" nzTheme="outline"></span>
              </td>
              <td class="wrap-icon" style="color: red;">
                <span (click)="cancelOrder(data.id)" class="edit-product" nz-icon nzType="close" nzTheme="outline"></span>
              </td>
            }@else {
              <td>N/A</td>
              <td>N/A</td>
            }
            <td >
              <button (click)="onOrderDetail(data.id)" class="wrap-detail">Detail</button>
            </td>
          </tr>
          }
        </tbody>

      </nz-table>
    </div>
    <div class="pagination">
      <a href=""></a>
      <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [(nzPageIndex)]="pageable.page"
        [nzTotal]="pageable.totalElements" [nzSize]="nzSize" nzShowSizeChanger [nzPageSize]="pageable.size"
        [nzPageSizeOptions]="pageSizeOption" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
    </div>
  </div>
  <app-order-detail (onClose)="onCloseOrderDetail()" [visible]="visibleOrderDetail" [orderId]="orderDetailId"></app-order-detail>
</div>

